:root {
    --card-background-color: rgb(251, 251, 251);
    --card-shadow-color: rgba(36, 71, 101, 0.1);
}

body {
    background: #9fb6bb21 linear-gradient(120deg, rgba(187, 185, 154, 0.13) 0%, #9fb6bb21 100%);
}

::selection {
    background: rgba(127, 255, 212, 0.71);
    color: black;
}

input[type="button"] {
    outline: none !important;
}

.custom-text::selection {
    background: deeppink;
    color: white;
}

@keyframes cardAnim {
    from {
        opacity: 0;
        transform: translate3d(0, -30%, 0) scale(.88) rotateX(-90deg);
    }
    to {
        opacity: 1;
        transform: translate3d(0, 0, 0) scale(1) rotateX(0deg);
    }
}

.cards-wrapper {
    perspective: 1000px;
}

.cards-wrapper:first-child {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cards-wrapper.spinner-grow {
    width: 3rem;
    height: 3rem;
}

#apptoast {
    position: absolute;
    top: 5rem;
    right: 1.5rem;
    min-width: 14rem;
}

.page-item:not(.active) {
    cursor: pointer;
}

.icon {
    display: inline-block;
    width: 1.25em;
    height: 1.25em;
    fill: currentColor;
}

/* region task card */
.task-card {
    --color_stroke: #576371;
    display: flex;
    background-color: var(--card-background-color);
    border-top: 1px solid white;
    border-radius: 6px;
    box-shadow: 0 1px 1px var(--card-shadow-color),
    0 1px 2px var(--card-shadow-color),
    0 2px 4px var(--card-shadow-color),
    0 4px 8px var(--card-shadow-color);
    transform-origin: 50% 0 0;
}

.task-card_revealing {
    animation-name: cardAnim;
    animation-duration: .4s;
    animation-timing-function: cubic-bezier(.18, .89, .32, 1.28);
}

.task-card__left {
    position: relative;
    min-height: 1px;
    padding: 1.25rem;
}

.task-card__cbox {
    opacity: 0;
    -webkit-appearance: none;
    display: inline-block;
    vertical-align: middle;
    z-index: 100;
}

.task-card__cbox,
.task-card__cbox[type="checkbox"] + label {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 50%;
    left: 0;
    margin-top: -15px;
    margin-left: 15px;
    cursor: pointer;
}

.task-card__cbox[type="checkbox"] + label {
    border: 2px solid var(--color_stroke);
    border-radius: 50%;
}

.task-card svg {
    pointer-events: none;
}

.task-card__toggle {
    position: absolute;
    width: 24px;
    height: 24px;
    top: 50%;
    margin-top: -12px;
    margin-left: -2px;
}

.task-card__toggle use {
    stroke: var(--color_stroke);
    stroke-width: 14px;
    stroke-linecap: round;
    stroke-linejoin: round;
    fill: none;
    transition: stroke-dashoffset .8s cubic-bezier(.38, .08, .65, .93);
}

.task-card__options {
    position: relative;
    width: 2em;
    height: 2em;
    background: none;
    border: none;
    color: #798796;
    outline: none !important;
    padding: 0;
    margin: 0.625rem 0.25rem 0 0;
    -webkit-transition: -webkit-transform 0.5s, color .3s;
    -moz-transition: -moz-transform 0.5s, color .3s;
    transition: transform 0.5s, color .3s;
}

.task-card__options:hover {
    color: var(--color_stroke);
}
/* endregion task card */